<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/header :: header">
<meta charset="UTF-8">
<title>Dodaj książkę</title>
</head>
<body>

	<form action="/addBook" method="post">
		<p>
			Tytuł: <input type="text" name="title" required="required">
		</p>
		<p>
			Imię autora <input type="text" name="name" required="required">
		</p>
		<p>
			Nazwisko Autora <input type="text" name="surname" required="required">
		</p>
		<p>
			Liczba stron <input type="number" name="pages" required="required">
		</p>
		<p>
			Cena : <input type="number" name="price" required="required">
		</p>
		<p>
			Kraj autora : <input type="text" name="country" required="required">
		</p>
		<p>
			Rok urodzenia autora : <input type="number" name="yearOfBorn"
				required="required">
		<p>
			Wyslij : <input type="submit"></p>
		

	</form>


</body>
</html>