<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Szukaj według autora</title>
</head>
<body>


Szukaj po : 
<form action="/findByAuthor" method="post">
<p>
imię i nazwisko:  <input type="radio" name="findingMethod" value="nameAndSurname">
kraj pochodzenia : <input type="radio" name="findingMethod" value="country">
<p>
Podaj Imię: <input type = "text" name="name">
<p>
Podaj nazwisko : <input type = "text" name="surname">
<p>
Wpisz kraj pochodzenia : <input type="text" name="country">
<p>
<input type = "submit"></form>


</body>
</html>