<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragment/header :: header">
<meta charset="UTF-8">
</head>

<body>
	<table border="1">
		<tr>
			<th><a th:href="@{/sortBy?criterium=title}">Tytuł</a></th>
			<th><a th:href="@{/sortBy?criterium=name}">Imię autora</a></th>
			<th><a th:href="@{/sortBy?criterium=surname}">Nazwisko
					autora</a></th>
			<th><a th:href="@{/sortBy?criterium=country}">Kraj
					pochodzenia</a></th>
			<th><a th:href="@{/sortBy?criterium=pages}">Liczba stron</a></th>
			<th><a th:href="@{/sortBy?criterium=price}">Cena</a></th>
		</tr>
		<th:block th:each="book:${books}">

			<tr>
				<td th:text="${book.title}">cokolwiek</td>
				<td th:text="${book.author.name}">cokolwiek</td>
				<td th:text="${book.author.surname}">cokolwiek</td>
				<td th:text="${book.author.country}">cokolwiek</td>
				<td th:text="${book.pages}">cokolwiek</td>
				<td th:text="${book.price}">cokolwiek</td>
			</tr>

		</th:block>
	</table>

	<br>
	<h3>filtru na podstawie :</h3>
	<br>
	<form action="/searchBy">
		<input type="Submit">
	</form>
</body>
</html>